{% extends 'base.html' %}

{% block title %}İzlenen Filmler{% endblock %}

{% block content %}
    <h1>İzlediğin Filmleri Listele</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ekle</button>
    </form>

    <h2>İzlenen Filmler</h2>
    <ul>
      {% for watched in movies %}
        <li>
          <h3>{{ watched.movie.title }} ({{ watched.movie.release_year }})</h3>
          <p><strong>Tür:</strong> {{ watched.movie.genre }}</p>
          {% if watched.movie.poster_url %}
            <img src="{{ watched.movie.poster_url }}" width="150">
          {% endif %}
          <p><strong>Açıklama:</strong> {{ watched.movie.description }}</p>
          <p><strong>Puan:</strong> {{ watched.rating }}/10</p>
          <p><strong>Yorum:</strong> {{ watched.review }}</p>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
